<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite1">

  <listeners>
      <listener class-name="com.xbwq.Listener.ScreenShotListener"/>
      <listener class-name="com.xbwq.Listener.RetryListener"/>
      <listener class-name="com.xbwq.Listener.LogListener"/>
  </listeners>
    
  
  <test verbose="2" preserve-order="true" name="xbwqTestReport">
    	  <!-- <parameter name="type"	value="洽谈场所" /> -->
    <classes>

        <class name="com.xbwq.TestCase.PhotoReport" />
        <class name="com.xbwq.TestCase.OrderReport"/>
        <class name="com.xbwq.TestCase.InventoryReport"/>
        <class name="com.xbwq.TestCase.SalesReport"/>
        <class name="com.xbwq.TestCase.ReturnGoodsReport"/>
        <class name="com.xbwq.TestCase.AdventGoods"/>
        <class name="com.xbwq.TestCase.DisplayCheck">
          <methods>
              <include name="deleteDisplayCheckCaoGao"/>
              <include name="displayCheckCaoGao"/>
              <include name="addDisplayCheck"/>
          </methods>
       </class>
        <class name="com.xbwq.TestCase.CompetingGoodsReport">
          <methods>
              <include name="deleteCompetingGoodsReportCaoGao"/>
              <include name="addCompetingGoodsReport"/>
          </methods>
       </class>
      
    </classes>
    
  </test>
</suite>